# MongoDB connection string
# MongoDB Atlas (cloud) example:
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/causalfunnel?retryWrites=true&w=majority

# Local MongoDB example:
# MONGO_URI=mongodb://localhost:27017/causalfunnel

# Server port
PORT=4000
